/*add to index!!!! <link rel="stylesheet" media="all and (max-width: 1023px)"  href="css/mobile.css" type="text/css" />*/


/*------------------header and general-------------------------*/
.header {
height: 58px;
}
.timer {
   height: 32px;
top: -74px;
line-height: 32px;
width: 100%;
}
.countdown-area h3 {
    top: 0;
    display: inline;
    font-size: 20px;
    content: "";/*change*/
}
.daysRemind {
    position: relative;
    top: 0;
    display: inline;
    font-size: 43px;
}
.topNav {
   margin-top: -29px;
height: 42px;
}
.logoCet ,.socialTab {
   width: 37px;
height: 37px;
border-radius: 50px;
background-image: none;
background-color: #fff;
}
.tagLogo:first-child {
   margin-left: 0;
width: 37px;
height: 37px;
border-radius: 50px;
background-image: none;
background-color: #fff;
top: 38px;
float: left;
left: 4%;
}
.topImgLink {
    width: 80%;
    height: 100%;
    top: 0;
}
.socialTab span {
background-image: url(img/social_icons.png);
background-position: -1px 3px;
background-size: 117px;
}

.socialTab span.twitter {
background-position: -40px 3px;
}

.socialTab span.linkin {
background-position: -80px 3px;
}
.socialTabs {
   top: 38px;
position: relative;
float: none;
margin-left: -13%;
margin-right: 0;
}
.logoAndSocial {
    position: relative;
height: 80px;
margin: 0 auto;
text-align: center;
width: 78%;
}
.topMenu {
   width: 100%;
bottom: 6px;
position: absolute;
}
.topMenu ul {
    width: 94%;
    left: 0;
}

.topMenu ul li {
   height: 16px;
line-height: 16px;
font-size: 8px;
padding-left: 6px;
padding-right: 6px;
}
.topMenu ul li:last-child{
    left: 0px;
}
#newsletter-btn{
  width: 37px;
height: 37px;
border-radius: 50px;
top: 38px;
left: 78%;
z-index: 50;
}
/*-----------------------home page------------------*/

#page-wrap, .page-wrap {
    width: 100%;
    margin-top: 103px;
}
.page-wrap .home {
   min-width: 100%;
margin-top: 0;
height: auto;
}
.mainPageBg {
width: 100%;
height: auto;
z-index: 0;
position: relative;
}
.home .entry{
   line-height: 0;
padding: 0;
width: 25%;
margin-left: 11%;
height: 10%;
position: absolute;
margin-top: -16%;
}
.entry-design{
    height: 100%;
padding: 0;
}
#offerStartUp{
   position: relative;
bottom: 0;
left: 0;
margin-top: 0;
width: 100%;
font-size: 9px;
height: 100%;
line-height: 0;
}
.middelBanner, .inventorNav, .page-wrap.inventors, .mapping, .page-wrap.judges, .page-wrap.contect, #footer {
    width: 100%;
}
select#categoryNav, select#tagsNav{
    width: 50%;
}

.page-wrap.inventors, .rightScroll, .leftScroll, .inventList {
    height: 450px;
}
#scrollInventorCon {
    height: 100%;
}

.inventList{
    width: 50%;
    
}
.inventList li {
    width: 100%;
    height: 33%;
}
.inventList li h2 a {
    width: 100%;
}
.google-map {
    width: 100%;
}
.best-invent {
    width: 100%;
    height: 290px;
    background-color: #fff;
}
#best-invent-title {
    width: 84%;
    height: 54px;
    line-height: 54px;
    padding: 0 8%;
    text-align: left;
}
#best-invent-logo {
    width: 30%;
    height: 235px;
    padding: 0;
    display: inline-block;
    background-color: #fff;
}
#best-invent-description {
    width: 60%;
    height: 235px;
    padding: 0;
    display: inline-block;
}
#best-logo-frame {
    margin-top: 35px;
}
.best-description {
    padding: 25px 10px;
}
.middelBanner {
    position: relative;
}
.judgesAvantar {
    width: 175px;
}
.page-wrap.contect {
    height: 158px;
    overflow: hidden;
}
.page-wrap.contect .unreset span {
    font-size: 25px !important;
    font-weight: normal;
}



/*-----------------------form--------------------------------*/




/*-------------------------footer--------------------------*/

.footerMenu {
    display: none;
}


/*----------------------Invent----------------*/

.inventDescription, .mapDescription{
    width: 100%;
height: 100%;
margin: 0;
}




/*--------------------logo menu-----------------------*/
/*--------------------single startup-----------------------*/
.inventDescription .title.ellipsis, .mapDescription .title.ellipsis {

	left: 44px;

}
.inventDescription .slogen, .mapDescription .slogen {

	left: 18px;
	width: 300px;

}
.inventDescription .socialArea {
	
	top: -145px;
	width: 100%;
	position: relative;
}
.socialArea .social, .form-end-message .social {

border-bottom: 0;

}
#twittCount {
	
	margin-left: 160px;
	padding-top: 25px;
}
.socialArea .fb, .form-end-message .fb {

display: none;
}
.socialArea .linkedin, .form-end-message .linkedin {

display: none;

}
.socialArea .twitter, .form-end-message .twitter {

display: none;
}
.inventDescription .mainArea, .mapDescription .mainArea {

width: 100%;
margin-left: 50px;

}
.inventDescription .mainArea .movie {
width: 100%
margin: -135px 0 0 18px;
}
.inventDescription .mainArea .movie iframe{

	height: 148px;
	width: 188px;
	margin-top: -135px;

}
.inventDescription .mainArea .gallery, .mapDescription .mainArea .gallery {
width: 100%;
float: none;
margin-left: 0px;
margin-top: 250px;
}





/*****************marker popup**********************/




