/*add to index!!!! <link rel="stylesheet" media="all and (max-width: 1023px)"  href="css/mobile.css" type="text/css" />*/


/*------------------header and general-------------------------*/
.header {
height: 58px;
}
.timer {
   height: 32px;
top: -74px;
line-height: 32px;
width: 100%;
}
.countdown-area h3 {
    top: 0;
    display: inline;
    font-size: 20px;
    content: "";/*change*/
}
.daysRemind {
    position: relative;
    top: 0;
    display: inline;
    font-size: 43px;
}
.topNav {
   margin-top: -29px;
height: 42px;
}
.logoCet ,.socialTab {
   width: 37px;
height: 37px;
border-radius: 50px;
background-image: none;
background-color: #fff;
}
.tagLogo:first-child {
  width: 37px;
height: 37px;
border-radius: 50px;
background-image: none;
background-color: #fff;
top: 38px;
float: left;
position: absolute;
left: 0;
margin-left: auto;
margin-right: auto;
right: 190px;
}
.topImgLink {
    width: 80%;
height: auto;
top: 13px;
left: 3px;
padding: 0;
}
.socialTab span {
background-image: url(img/social_icons.png);
background-position: -1px 3px;
background-size: 117px;
}

.socialTab span.twitter {
background-position: -40px 3px;
}

.socialTab span.linkin {
background-position: -80px 3px;
}
.socialTabs {
   top: 38px;
position: relative;
float: none;
margin-left: 0;
margin-right: 0;
}
.logoAndSocial {
    position: relative;
height: 80px;
margin: 0 auto;
text-align: center;
width: 78%;
}
.topMenu {
   width: 100%;
bottom: 6px;
position: absolute;
}
.topMenu ul {
    width: 94%;
    left: 0;
}

.topMenu ul li {
   height: 16px;
line-height: 16px;
font-size: 8px;
padding-left: 6px;
padding-right: 6px;
}
.topMenu ul li:last-child{
    left: 0px;
}
#newsletter-btn{
  width: 37px;
height: 37px;
border-radius: 50px;
top: 38px;
z-index: 50;
left: 208px;
right: 0;
margin-left: auto;
margin-right: auto;
background-image: url(img/newsletter_grey.png);
background-size: 94%;
background-position: 1px 4px;
}
/*-----------------------home page------------------*/

#page-wrap, .page-wrap {
    width: 100%;
    margin-top: 103px;
}
.page-wrap .home {
   min-width: 100%;
margin-top: 0;
height: auto;
}
.mainPageBg {
width: 100%;
height: auto;
z-index: 0;
position: relative;
}

.home .entry{
line-height: 0;
padding: 0;
width: 25%;
margin-left: 11%;
height: 10%;
position: absolute;
margin-top: -16%;
}
.entry-design{
    height: 100%;
padding: 0;
}
#offerStartUp{
  position: relative;
bottom: 0;
left: 0;
margin-top: 0;
width: 100%;
font-size: 9px;
height: 100%;
}
#fb-like-site{
    display: none;
}
#twitter-widget-0{
   display: none;
}
.middelBanner, .inventorNav, .page-wrap.inventors, .mapping, .page-wrap.judges, .page-wrap.contect, #footer {
    width: 100%;
}
select#categoryNav, select#tagsNav{
    width: 50%;
font-size: 11px;
height: 23px;
line-height: 23px;
background-size: 19px;
background-position-y: 8px;
}

.page-wrap.inventors, .rightScroll, .leftScroll, .inventList {
    height: 229px;
}
#scrollInventorCon {
    height: 100%;
}

.rightScroll, .leftScroll{
    width: 29px;
}
.leftScroll-arrow, .rightScroll-arrow{
    margin: 90px auto 0;
}
.inventList{
    width: 50%;
    
}
.inventList li {
    width: 100%;
    height: 50%;
}
.inventList li h2{
    height: 22px;
font-size: 15px;
}
.inventList li h2 a {
   width: 100%;
height: 22px;
line-height: 22px;
}
.google-map {
    width: 100%;
}
.best-invent {
    width: 100%;
    height: 290px;
    background-color: #fff;
}
#best-invent-title {
    width: 84%;
    height: 54px;
    line-height: 54px;
    padding: 0 8%;
    text-align: left;
}
#best-invent-logo {
    width: 30%;
    height: 235px;
    padding: 0;
    display: inline-block;
    background-color: #fff;
}
#best-invent-description {
    width: 60%;
    height: 235px;
    padding: 0;
    display: inline-block;
}
#best-logo-frame {
    margin-top: 35px;
}
.best-description {
    padding: 25px 10px;
}
.middelBanner {
    position: relative;
height: 22px;
}
.middelBanner h2{
    height: 22px;
font-size: 1em;
line-height: 22px;
}
.inventorNav{
    height: 23px;
}
.judgesAvantar {
    width: 175px;
}
.page-wrap.contect {
    height: 158px;
    overflow: hidden;
}
.page-wrap.contect .unreset span {
    font-size: 25px !important;
    font-weight: normal;
}



/*-----------------------form--------------------------------*/




/*-------------------------footer--------------------------*/

.footerMenu {
    display: none;
}


/*----------------------Invent----------------*/

.inventDescription, .mapDescription{
    width: 100%;
height: 100%;
margin: 0;
}




/*--------------------logo menu-----------------------*/
/*--------------------single startup-----------------------*/
.inventDescription .topArea, .mapDescription .topArea {
width: 100%;
background-color: cyan;

top:0px;
min-height: 150px;
}
.inventDescription .startup-popup-logo, .mapDescription .startup-popup-logo {
width: 100%;
height:  30%;
position: relative;
top:25px;
margin: 0px;
padding-bottom: 0px;
border-bottom: 0px;
padding-top: 0px;
text-align: center;
}
.inventDescription .title.ellipsis, .mapDescription .title.ellipsis {
width: 100%;
	left: 0px;
text-align: center;
display: block;
top: 20%;
}



.inventDescription .slogen, .mapDescription .slogen {

	left: 0;
width: 100%;
text-align: center;

top: 20%;
margin-bottom: 0;
	

}
.inventDescription .socialArea {
	min-height:  70px;
	top: 0px;
width: 100%;
position: relative;
background-color: brown;
}

#twittCount {
	display: block;
	margin-left: 0;
padding-top: 0;

padding-bottom: 0;
margin-top: 0;
margin-bottom: 0;
}
#fbCount {

display: block;
	margin-left: 0;
padding-top: 0;
padding-left: 0;
padding-bottom: 0;

margin-bottom: 0;

}
.socialArea .fb, .form-end-message .fb {

display: none;
}
.socialArea .linkedin, .form-end-message .linkedin {

display: none;

}
.socialArea .twitter, .form-end-message .twitter {

display: none;
}
.inventDescription .mainArea, .mapDescription .mainArea {

width: 100%;
top:0px;
background-color: aquamarine;
display: block;

margin-left: 0px;
padding-bottom: 0px;
padding-right: 0px;
min-height: 920px;

}
.inventDescription .mainArea .movie {

width: 260px;
height: 160px;
margin: 0;

}
.inventDescription .mainArea .movie iframe{

	height: 160px;
width: 260px;
position: relative;
top: 10%;
left: 12%;

}
.inventDescription .mainArea .gallery, .mapDescription .mainArea .gallery {
width: 100%;
float: none;

}

.facebook-comments{
background-color: antiquewhite;
}





/*****************marker popup**********************/




