@media all and (max-width: 1023px) {
    #scrollInventorCon {
        /*height: 100%;*/
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .judgesContenar {
        height: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .winner, .finalList {
        width: 110px;
    }

    .leftScroll-arrow, .rightScroll-arrow {
        display: none !important;
    }
}

@media (max-width: 768px) {
    /*add to index!!!! <link rel="stylesheet" media="all and (max-width: 1023px)"  href="css/mobile.css" type="text/css" />*/

    /*@viewport{
    user-zoom:fixed;
     zoom:1.0;
     max-zoom:1.0;
     min-zoom:1.0;
    }*/
    /*------------------header and general-------------------------*/
    body.freeze {
        overflow: hidden;
    }

    .header {
        height: 58px;
    }

    .timer {
        height: 32px;
        line-height: 32px;
        width: 100%;
    }

    .countdown-area h3 {
        top: 0;
        display: inline;
        font-size: 13px;
        content: "";
        margin-left: 3px;
    }

    .daysRemind {
        position: relative;
        top: 0;
        display: inline;
        font-size: 13px;
    }





    .topNav {
        margin-top: 1px;
        height: 42px;
    }







    .logoCet, .socialTab {
        width: 37px;
        height: 37px;
        border-radius: 50px;
        background-image: none;
        background-color: #fff;
    }







    .tagLogo:first-child {
        width: 37px;
        height: 37px;
        border-radius: 50px;
        background-image: none;
        background-color: #fff;
        top: 38px;
        float: left;
        position: absolute;
        left: 0;
        margin-left: auto;
        margin-right: auto;
        right: 190px;
    }







    .topImgLink {
        width: 80%;
        height: auto;
        top: 13px;
        left: 3px;
        padding: 0;
    }





    .socialTab span {
        background-image: url(img/social_icons.png);
        background-position: -1px 3px;
        background-size: 117px;
    }





    .socialTab span.twitter {
        background-position: -40px 3px;
    }






    .socialTab span.linkin {
        background-position: -80px 3px;
    }








    .socialTabs {
        top: 38px;
        position: relative;
        float: none;
        margin-left: 0;
        margin-right: 0;
    }

    .logoAndSocial {
        position: relative;
        height: 100%;
        margin: 0 auto;
        text-align: center;
        width: 78%;
    }

    #sum-menu-mobile .triangle {
        width: 25px;
        height: 37px;
        margin-top: -18px;
        margin-left: 11px;
        -webkit-transform: rotateZ(270deg);
    }




    .topMenu {
        width: 100%;
        bottom: 6px;
        position: absolute;
    }





















    .topMenu ul {
        width: 94%;
        left: 0;
    }

    .topMenu ul li {
        height: 16px;
        line-height: 16px;
        font-size: 8px;
        padding-left: 6px;
        padding-right: 6px;
    }

    .topMenu ul li:last-child {
        left: 0px;
    }










    /*--------------------logo menu-----------------------*/
    .logo_menu {
        width: 75%;
        margin-left: 60px;
    }

    .footerLogos {
        width: 95%;
        line-height: 13px;
    }

    .footerLogos p {
        font-size: 12px;
        margin-top: 13px;
    }

    /*--------------------single startup-----------------------*/
    .inventDescription .topArea, .mapDescription .topArea {
        width: 100%;
        /*  background-color: cyan; */
        top: 0px;
        height: auto;
        text-align: center;
    }

    #sum-menu-mobile {
        background-color: #ffffff;
        position: absolute;
        z-index: 1;
        border: 1px solid #ebebeb;
        right: -18px;
        text-align: left;
        text-indent: 4px;
        color: #000000;
    }





    .inventDescription .slogen, .mapDescription .slogen {
        left: 0;
        top: 0;
        width: 100%;
        text-align: center;
        position: relative;
        margin-top: 10px;
        margin-bottom: 0;
        display: block;
    }


    .inventDescription .socialArea {
        height: auto;
        top: 0px;
        margin-top: 50px;
        width: 100%;
        position: relative;
        /* background-color: brown; */
        text-align: center;
    }

    #twittCount {
        width: 56px;
        height: 62px;
        display: inline-block;
        margin-left: 0;
        padding-top: 0;
        padding-left: 10px;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
        border-left: 1px solid gray;
        border-bottom: none;
    }

    #fbCount {
        width: 56px !important;
        height: 62px;
        display: inline-block !important;
        margin-left: 0;
        padding-top: 25px;
        padding-left: 0;
        padding-bottom: 0;
        margin-bottom: 0;
        border-bottom: none;
    }

    #sum-menu-mobile a {
        text-decoration: none;
        color: #000;
    }


    #sum-menu-mobile li {
        width: 70px;
        font-size: 11px;
        height: 24px;
        line-height: 24px;
    }

    #sum-menu-mobile .aboutUs {
        border-top: 1px solid #ebebeb;
        border-bottom: 1px solid #ebebeb;
    }


    .inventDescription .mainArea, .mapDescription .mainArea {
        width: 100%;
        top: 0px;
        /*  background-color: aquamarine; */
        display: block;
        margin-left: 0px;
        padding-bottom: 0px;
        padding-right: 0px;
        height: auto;
        text-align: center;
    }

    .inventDescription .mainArea .movie {
        width: 100%;
        position: relative;
        margin: 0;
        margin-top: 25px;
    }

    .inventDescription .mainArea .movie iframe {
        height: 160px;
        width: 260px;
        position: static;
    }









    #newsletter-btn {
        width: 37px;
        height: 37px;
        border-radius: 50px;
        top: 38px;
        z-index: 50;
        left: 208px;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        background-image: url(img/newsletter_grey.png);
        background-size: 94%;
        background-position: 1px 4px;
    }

    #newsletter-popup {
        width: 100%;
        left: 0;
        top: 110px;
        height: 140px;
    }

    #newsletter-popup-title {
        text-align: center;
        margin-top: 15px;
        font-size: 20px;
        margin-bottom: 15px;
    }

    #newsletter-popup input {
        width: 81%;
        height: 28px;
        font-size: 15px;
        font-family: sans;
        line-height: 15px;
        border: 2px solid #e8e8e8;
        border-radius: 3px;
        margin-left: 29px;
        text-indent: 15px;
    }

    #newsletter-popup-sign-btn {
        margin-right: 0px;
        bottom: -6px;
        height: 25px;
        margin-bottom: 23px;
        margin-top: 8px;
        width: 84px;
    }

    #newsletter-popup .triangle {
        top: -38px;
        left: 238px;
        -webkit-transform: rotateZ(90deg);
        -ms-transform: rotateZ(90deg);
    }

    #newsletter-popup-sign-btn .nav-page-img {
        background-size: 40px;
        width: 27px;
        line-height: 26px;
    }

    #newsletter-popup-error {
        left: 30px;
    }

    #newsletter-success {
        font-size: 20px;
        margin-top: 50px;
    }

    #marker-popup .facebook-comments {
        width: 100% !important;
    }

    #marker-popup iframe {
        width: 100% !important;
    }


    .mobile-header {
        width: 100%;
        height: 50px;
        background-color: #21cc8a;
        color: #ffffff;
        display: none;
        text-align: center;
        line-height: 50px;
        font-size: 25px;
        position: fixed;
        z-index: 1;
    }

    #sign-header-mobile {
    }

    .recaptchatable #recaptcha_image {
        width: 95% !important;
    }

    .recaptchatable #recaptcha_response_field {
        width: 100% !important;
    }

    .recaptchatable #recaptcha_image #recaptcha_challenge_image {
        width: 100% !important;
    }

    #recaptcha_area, #recaptcha_table {
        width: 100% !important;
        margin: auto;
    }

    .capchArea {
        position: relative;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .last-page, .next-page, .submit input {
        width: 89px;
        height: 27px;
        line-height: 27;
        font-size: 14px;
        right: 0;
        text-indent: 0;
    }

    .submit {
        position: relative;
        right: 0;
        float: none;
        width: auto;
        height: auto;
        z-index: 1;
    }

    .popInvent input[type="submit"] {
        float: none;
        position: absolute;
        bottom: 0;
        margin-bottom: 0;
        width: 89px;
        height: 28px;
    }

    .bottomArea {
        font-size: 11px;
    }

    #formPart1, #formPart2, #formPart3, #formPart4 {
        width: 100%;
        /*height: 100%;*/
        height: auto;
    }

    .form-end-message {
        width: 100%;
        margin-top: 90px;
        font-size: 16px;
    }

    #stop-up-startup:first-line {
        font-size: 16px;
    }


    .form-end-message .fb, .form-end-message .twitter {
        position: relative;
        float: none;
        display: inline-block;
        margin: 0;
    }

    .form-end-message .linkedin {
        position: relative;
    }

    .form-end-social {
    }

    .form-end-message .twitter, .form-end-message .linkedin {
        display: inline-block;
        float: none;
        background-size: 160px;
    }

    .form-end-message .fb {
        background-position-x: 15px;
        background-size: 160px;
    }

    .form-end-message .twitter {
        background-position-x: 51%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .form-end-message .linkedin {
        background-position-x: 116%;
        padding-left: 10px;
    }

    #formPart3 .slogen, #formPart3 .name {
        text-align: left;
        text-indent: 0;
    }
    /*-----------------------home page------------------*/

    #page-wrap, .page-wrap {
        width: 100%;
        margin-top: 103px;
    }








    .page-wrap.mobile {
        margin-top: 0;
    }





    .page-wrap .home {
        min-width: 100%;
        margin-top: 0;
        height: auto;
    }










    .mainPageBg {
        width: 100%;
        height: auto;
        z-index: 0;
        position: relative;
    }




    .home .entry {
        line-height: 0;
        padding: 0;
        width: 25%;
        margin-left: 11%;
        height: 10%;
        position: absolute;
        margin-top: -16%;
    }




    .entry-design {
        height: 100%;
        padding: 0;
    }


    #offerStartUp {
        position: relative;
        bottom: 0;
        left: 0;
        margin-top: 0;
        width: 100%;
        font-size: 9px;
        height: 100%;
    }









    #fb-like-site {
        display: none;
    }




    #twitter-widget-0 {
        display: none;
    }

    .middelBanner, .inventorNav, .page-wrap.inventors, .mapping, .page-wrap.judges, .page-wrap.contect, #footer {
        width: 100%;
    }

    select#categoryNav, select#tagsNav, select#yearNav {
        width: 50%;
        font-size: 11px;
        height: 23px;
        line-height: 23px;
        background-size: 19px;
        background-position-y: 8px;
    }

    .page-wrap.inventors, .rightScroll, .leftScroll, .inventList {
        height: 229px;
    }

    .winner, .finalList {
        right: 2px;
        width: 90px;
    }

    #scrollInventorCon {
        height: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .rightScroll, .leftScroll {
        width: 29px;
    }

    .leftScroll-arrow, .rightScroll-arrow {
        margin: 90px auto 0;
        display: none;
    }

    .leftScroll-arrow {
        background-position-x: -8px;
    }

    .rightScroll-arrow {
        background-position-x: -62px;
    }

    #scrollInventorCon .placholderSlide {
        width: 29px;
    }

    .placholderSlide {
        width: 29px;
    }




    .inventList {
        width: 50%;
    }

    .inventList li {
        width: 100%;
        height: 50%;
    }

    .inventList li h2 {
        height: 22px;
        font-size: 15px;
    }





    .inventList li h2 a {
        width: 100%;
        height: 22px;
        line-height: 22px;
    }

    .inventList li img {
        max-width: 90%;
        max-height: 90%;
        width: auto;
        height: auto;
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }




    .img-wrap {
        height: 81%;
    }






    .google-map {
        width: 100%;
        height: 249px;
    }

    .best-invent {
        width: 100%;
        height: 261px;
        background-color: #fff;
    }

    #best-invent-title {
        width: 84%;
        height: 21px;
        line-height: 21px;
        padding: 0 8%;
        text-align: left;
        font-size: 13px;
    }

    #best-invent-logo {
        width: 70px;
        height: 70px;
        padding: 0;
        display: inline-block;
        background-color: #fff;
        vertical-align: top;
        margin-left: 6%;
        margin-top: 12px;
    }

    #best-invent-description {
        width: 67%;
        height: 86%;
        padding: 0;
        display: inline-block;
    }




    #best-logo-frame {
        height: 70px;
        width: 70px;
        margin-top: 0;
    }



    .best-logo {
        max-width: 70px;
        max-height: 70px;
    }






    .best-description {
        padding: 10px 10px;
    }




    .middelBanner {
        position: relative;
        height: 22px;
        margin-top: -3px;
    }





    .middelBanner h2 {
        height: 22px;
        font-size: 1em;
        line-height: 22px;
    }





    .inventorNav {
        height: 23px;
    }







    .judgesAvantar {
        width: 79px;
        height: 114px;
    }

    .page-wrap.contect {
        /*height: 158px;*/
        overflow: hidden;
    }

    .page-wrap.contect article {
        padding: 0;
        width: 83%;
        margin-left: 31px;
        font-size: 14px;
    }




    .page-wrap.contect p {
        line-height: 21px;
    }

    .page-wrap.contect .unreset span {
        /*font-size: 25px !important;*/
        font-weight: normal;
    }


    .mapping {
        margin-top: 0;
    }


    .page-wrap.judges {
        height: 153px;
    }





    .judges .leftScroll-arrow, .judges .rightScroll-arrow {
        margin-top: 62px;
    }



    .judge-pic {
        height: 78px;
    }


    .judgesAvantar img {
        height: auto;
        max-height: 100%;
    }




    .judgesAvantar h2 {
        height: 10px;
        line-height: 10px;
        font-size: 11px;
    }





    .judgestext {
        height: 19px;
        line-height: 10px;
        padding: 0;
        font-size: 10px;
        margin-left: 3px;
        margin-top: 2px;
    }
    /*-----------------------form--------------------------------*/
    .inventorPopUp {
        top: 0px;
        left: 0px;
        z-index: 51;
        width: 100%;
        height: 100%;
        position: fixed;
    }

    #offer-zone-inner {
        height: 100%;
        width: 100%;
        overflow-y: scroll;
    }

    #formPart2, #formPart1-2 {
        display: block;
    }


    .inventorPopUp .triangle {
        display: none;
    }




    .inventorPopUp .close {
        right: 7px;
        top: 6px;
    }




    .popInvent {
        margin: 62px 21px 0 23px;
    }



    .popInvent input, .popInvent textarea {
        height: 26px;
        line-height: 26px;
        font-size: 14px;
        width: 91%; /*  pini   -need space for the *       */
    }










    .categories-input .categories span.astro {
        display: none;
    }






    .categories-input {
        font-size: 15px;
    }





    .categories {
        font-size: 15px;
        margin: 5px 0 10px 0;
    }



    select#category, select#tags {
        font-size: 15px;
        height: 26px;
        line-height: 26px;
        width: 97%; /*  pini   -need space for the *       */
        background-position: 240px 6px;
        background-size: 7% 58%;
        margin: 0px 0 21px 0;
    }

    .inventorPopUp {
        font-size: 15px;
    }




    .popInvent input, .popInvent textarea {
        width: 94%;
    }




    .page-number {
        bottom: 6px;
        left: 25px;
        position: relative;
    }

    #offer-zone-inner .next-page {
        position: absolute;
        right: 32px;
        margin-bottom: 16px;
        margin-right: 0;
        left: auto;
    }

    #nav-area {
        position: relative;
    }

    .next-page .nav-page-img {
        background-size: 58px;
        background-position: 100% 47%;
        width: 35px;
        text-indent: -33%;
        font-size: 15px;
        line-height: 27px;
    }




    .next-page {
        right: 0;
        left: 205px;
        position: relative;
        font-size: 18px;
        bottom: 0;
        margin-bottom: 23px;
        margin-top: 4px;
    }


    .input-border {
        width: 96%;
        height: 26px;
        position: relative;
    }






    .title-logo {
        width: 63%;
        height: 26px;
        line-height: 26px;
        font-size: 15px;
        float: left;
    }





    .popInvent .upload {
        background-size: 14px 15px;
        background-position-x: 3px;
        line-height: 26px;
        font-size: 15px;
        text-indent: 23px;
        width: 34%;
        position: absolute;
        right: 0;
        padding-left: 0;
    }





    .popInvent input[type="file"] {
        height: 26px !important;
        width: 93px !important;
    }
    /* from here - page 2/2 "preview"  form num 3 in the html code*/


    #formPart3 {
        width: 100%;
    }

    #formPart3 .topArea {
        width: 100%;
        position: relative;
        height: auto;
        /* margin: 0;
		
		display: block; */
        text-align: center;
    }

    #formPart3 .topArea .title {
        padding-top: 80px;
        font-size: 24px;
        /* display: block;
		*/
        width: 100%;
        height: auto;
        position: relative;
    }

    #formPart3 .name {
        position: relative;
        float: none;
        /* 
		
		
		display: block;
		height: auto; */
        width: 100%;
        padding-top: 12px;
    }

    #formPart3 .startup-logo-form {
        /* height: auto; */
        position: absolute;
        right: 0;
        top: 0;
        /* overflow: hidden;
		text-align: center;
		line-height: 55px;
		display: block;
		margin-bottom: 0; */
        margin-top: 10px;
        /* margin-right: 25px; */
        width: 100%;
    }

    #formPart3 .mainArea {
        width: 100%;
        height: auto;
        text-align: -webkit-left;
    }

    #formPart3 .mainArea .description {
        /*  */
        /* margin-bottom: 10px; */
        /*  */
        text-align: left;
        float: none;
        width: 100%;
        margin-top: 12px;
        height: auto;
        /* margin-right: 0; */
        position: relative;
        /* display: block; */
        margin-left: 0;
    }

    #formPart3 .mainArea .gallery {
        margin: 0;
        right: 0;
        position: relative;
        margin-top: 20px;
        left: 76px;
        float: none;
    }
    /*-------------------------footer--------------------------*/
    #footer {
        height: auto;
        min-width: 100%;
    }






    .footerMenu {
        display: none;
    }





    .unitedNav {
        width: 100%;
    }

    .logo_menu li {
        height: 30px;
        width: 40px;
        margin: 5px 2px;
    }

    .footerNav {
        padding: 0;
    }




    .copyr {
        width: 100%;
        height: 100%;
        padding: 0;
        text-align: center;
    }












    .copyr div {
        display: inline-block;
        top: 5px;
        position: relative;
        padding-bottom: 9px;
    }










    #all-rights-reserved-cambium {
        display: inline-block;
        top: 5px;
    }

    #my-logo {
        width: 100%;
        height: auto;
        background-color: hsl(0, 0%, 19%);
        line-height: 18px;
        text-indent: 0;
        text-align: center;
        position: initial;
        left: 0px;
        font-size: 12px;
        background-position: 50% center;
        background-size: 65px;
    }

    #my-logo p {
        margin-right: 133px;
    }
    /*----------------------Invent----------------*/

    .inventDescription, .mapDescription {
        width: 100%;
        height: auto;
        margin: 0;
    }

    .inventDescription .mainArea .gallery img:hover, .mapDescription .mainArea .gallery img:hover {
        -webkit-transform: scale(1.5,1.5);
        transform: scale(1.5,1.5);
    }
























    /*--------------------logo menu-----------------------*/

    /*--------------------single startup-----------------------*/
    .inventDescription .invent-next {
        position: fixed;
        width: 100%;
        height: auto;
        display: -webkit-box;
        top: 50%;
    }

    .inventDescription .nextImage {
        background-image: url(img/startup_page_arrows.png);
        background-repeat: no-repeat;
        height: 90px;
        width: 14%;
        position: fixed;
        top: 182px;
        z-index: 1;
    }

    .inventDescription #nextImageR {
        background-position-x: -54px;
        right: 0px;
    }

    .inventDescription .startup-popup-logo, .mapDescription .startup-popup-logo {
        width: 40%;
        left: 30%;
        height: 60px;
        position: relative;
        margin: 0px;
        padding-bottom: 0px;
        border-bottom: 0px;
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;
    }


    .inventDescription .title.ellipsis, .mapDescription .title.ellipsis {
        width: 100%;
        left: 0px;
        text-align: center;
        display: block;
        position: relative;
        margin-top: 20px;
        top: 0;
    }














    .inventDescription .socialArea {
        height: auto;
        top: 0px;
        width: 100%;
        position: relative;
        /* background-color: brown; */
        text-align: center;
    }



    #twittCount {
        width: 56px;
        height: 62px;
        display: inline-block;
        margin-left: 0;
        padding-top: 0;
        padding-left: 10px;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
        border-left: 1px solid gray;
        border-bottom: none;
    }




    #fbCount {
        width: 56px !important;
        height: 62px;
        display: inline-block !important;
        margin-left: 0;
        padding-top: 25px;
        padding-left: 0;
        padding-bottom: 0;
        margin-bottom: 0;
        border-bottom: none;
    }









    .inventDescription .socialArea .fb, .inventDescription .form-end-message .fb {
        display: none;
    }

    .socialArea .linkedin {
        display: none;
    }









    .inventDescription .socialArea .linkedin, .inventDescription .form-end-message .linkedin {
    }





    .socialArea .twitter {
        display: none;
    }

    .inventDescription .socialArea .twitter, .inventDescription .form-end-message .twitter {
    }

    .inventDescription .mainArea, .mapDescription .mainArea {
        width: 100%;
        top: 0px;
        /* background-color: aquamarine; */
        display: block;
        margin-left: 0px;
        padding-bottom: 0px;
        padding-right: 0px;
        height: auto;
        text-align: center;
    }






    .inventDescription .mainArea .movie iframe {
        height: 160px;
        width: 260px;
        position: static;
    }


    .inventDescription .mainArea .name.ellipsis, .mapDescription .mainArea .name.ellipsis {
        clear: both;
        margin: 0;
        float: none;
        text-align: center;
        padding: 0;
        width: 100%;
        position: relative;
        top: 40px;
        white-space: initial;
    }




    .inventDescription .mainArea .description, .mapDescription .mainArea .description {
        float: none;
        width: 85%;
        margin-left: 7.5%;
        text-align: left;
        position: relative;
        margin-top: 60px;
    }


    .inventDescription .mainArea .gallery, .mapDescription .mainArea .gallery {
        width: 100%;
        float: none;
        position: relative;
        margin-left: 0;
        left: 20%;
        margin: 0;
        display: inline-block;
        max-height: 373px;
        margin-top: 40px;
    }

    .inventDescription .mainArea .gallery {
        width: auto;
        left: 0%;
    }


    .inventDescription .mainArea .gallery div, .mapDescription .mainArea .gallery div {
        display: block;
        float: none;
        width: 185px;
        height: 120px;
        margin-left: 0;
        border: 0;
    }




    .mainArea .gallery-img {
        width: 95%;
        height: 95%;
    }


















    #comments-frame {
        width: 100% !important;
        min-height: 60px;
        margin-left: 0;
    }







    /*****************marker popup**********************/








    #marker-popup .startups-gallery {
        float: none;
        position: relative;
        margin-top: 25px;
        width: 85%;
        margin-left: 7.5%;
        min-height: 100%;
    }

    #marker-popup .startups-gallery .startups-gallery-header {
        height: 35px;
    }




    .startups-gallery .startups-gallery-header span {
        font-size: 20px;
    }






    #marker-popup .startups-gallery-item {
        min-height: 62px;
    }














    #marker-popup .popup-title {
        margin-top: 10px;
    }





    .mapDescription .mainArea .description {
        margin-top: 0px;
    }


    .mapDescription .socialArea .fb, .mapDescription .socialArea .twitter, .mapDescription .socialArea .linkedin {
        margin: 10px;
        margin-left: 3px;
        margin-right: 3px;
        display: inline-block;
        border: none;
        padding-top: 44px;
        height: 10px;
    }

    .mapDescription .socialArea .twitter {
        border-left: 2px solid gray;
        border-right: 2px solid gray;
        padding-left: 9px;
        padding-right: 9px;
    }


    .mapDescription .socialArea {
        width: auto;
        position: relative;
        top: 0;
        text-align: center;
    }


    #marker-popup .facebook-comments {
        width: 100%!important;
        margin-left: 0;
    }


    #marker-popup iframe {
        width: 100%;
    }

    #validate-area {
        position: relative;
        top: 0px;
        line-height: 18px;
        width: 100%;
    }

    #validate-select-error {
        top: 17px;
        left: 0px;
        font-size: 11px;
    }


    #validate-slogen-error {
        width: 100%;
        left: 0;
    }

    #validate-general-error, #validate-description-error, #validate-img-error, #validate-slogen-error, #validate-checkbox-error {
        width: 84%;
        left: 22px;
    }

    #validate-slogen-error {
        bottom: 0;
    }
    /******************judge popup*********************/

    .judgeDescription {
        width: 95%;
        height: 94%;
        background-color: #ebebeb;
        left: 0;
        right: 0;
        margin: auto;
        position: fixed;
        display: none;
        top: 0;
        z-index: 100;
        bottom: 0;
    }

    .judgeDescriptionLeft {
        width: 100%;
        background-image: none;
    }

    .judgeDescriptionRight {
        width: 80%;
        height: 280px;
        top: 150px;
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
        display: inline-block;
        z-index: 1;
    }

    .judgeDescription-name {
        width: 100%;
        font-size: 15px;
        height: 20px;
        background: #838383;
        color: #fff;
        padding: 0;
        line-height: 20px;
        text-indent: 5px;
    }

    .judgeDescription-role {
        font-size: 15px;
        background-color: #fff;
        line-height: 20px;
        color: #828282;
        width: 100%;
        position: relative;
        padding: 0 0;
        text-indent: 5px;
        position: relative;
        font-weight: normal;
    }

    .judgeDescription-full {
        width: 100%;
        height: 200px;
        margin-top: 17px;
        line-height: 23px;
        font-size: 13px;
    }

    .judgeDescriptionMargin {
        width: 100%;
        height: 170px;
        background-color: #fff;
        position: absolute;
        top: 0;
        right: 0;
    }


    .judgeDescription-img img {
        max-width: 90px;
        max-height: 90px;
        box-shadow: #A8A6A6 1px 1px 1px 0px;
        position: absolute;
        top: 35px;
        left: -123px;
        bottom: 182px;
        border: solid 4px #fff;
        z-index: 1;
    }

    .judgeDescription .close {
        right: 10px;
    }

    /*****************sign-up*******************/

    .inventorPopUp {
        font-size: 15px;
    }

    /**********************contact-us***************/

    #contactUsForm .triangle {
        display: none;
    }

    #contactUsForm {
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        z-index: 50;
        box-shadow: none;
        top: 0;
    }

    #contactUsForm form {
        margin: 72px 0 0 30px;
    }

    #contactUsForm form input {
        width: 84%;
        margin-bottom: 20px;
        height: 30px;
        font-size: 15px;
        padding-left: 13px;
        font-family: sans;
        border: 2px solid #e8e8e8;
        border-radius: 3px;
    }

    #contactUsForm form textarea {
        width: 81%;
        height: 150px;
        font-size: 15px;
        padding: 12px;
        font-family: sans;
        border: 2px solid #e8e8e8;
        border-radius: 3px;
    }

    #contactUsForm #cbtm {
        background: #e76c76;
        color: #fff;
        border: none;
        width: 110px;
        float: right;
        margin: 20px 29px;
        text-indent: -13px;
    }

    /********************about us**********************/
    #aboutUs {
        width: 100%;
        overflow-y: scroll;
        position: absolute;
        height: 100%;
        margin: 0;
        overflow-x: hidden;
    }

    #aboutUs article {
        margin: 15px 20px 15px 20px;
    }

    #aboutUs .gallery img:hover {
        -webkit-transform: scale(1.5,1.5);
        -moz-transform: scale(1.5,1.5);
        -ms-transform: scale(1.5,1.5);
        transform: scale(1.5,1.5);
    }

    #aboutUs .gallery {
        display: block;
    }

    #aboutUs .gallery img {
        margin: auto;
        display: block;
        margin-top: 12px;
    }

    #aboutUs .media iframe {
        width: 100%;
    }

    /*****************************terms & conditions page  *****/

    .post.pageTemplet {
        padding: 5%;
        width: 90%;
        font-size: 13px;
    }

    /*yishai changes*/
    .new-stat-title {
        width: 100%;
        margin-top: 20px;
        text-align: center;
        padding: 9px;
        font-weight: bold;
        font-size: 20px;
    }

    #formPart1 {
        padding: 10px 15px;
    }

    #addStartupForm {
        margin: 0px;
    }

    #recaptcha_table {
        position: relative;
        left: 0px;
    }

    .basic-info-start {
        font-size: 20px;
        margin: 5px 0px 9px 0px;
    }

    #addStartupForm input {
        font-size: 15px;
        line-height: 29px;
        height: 29px;
    }

    #addStartupForm fieldset {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0px 17px;
    }

    .categories.categories-start {
        text-indent: 17px;
    }

    #formPart1 .label-form {
        position: relative;
        padding-left: 26px;
        height: auto;
        margin: 0px 0px 0px 0px;
    }

    #formPart1 .label-form span {
        position: absolute;
        top: 7px;
        left: -5px;
    }

    #description {
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    #addStartupForm fieldset.no-pad-form {
        padding-left: 0px;
        padding-right: 0px;
        width: 100%;
    }

    #formPart1 .submit {
        margin: 18px 0px 10px 0px;
        padding: 0px;
    }

    #formPart1 .submit input {
        margin: 0px;
        line-height: normal;
        position: relative;
    }

    #formPart1 .bottomArea label {
        height: auto;
        line-height: normal;
        position: relative;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding-left: 28px;
        padding-top: 1px;
    }

    #formPart4 {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0px 20px;
    }

    #formPart1 .bottomArea label span {
        position: absolute;
        top: 0px;
        left: 0px;
    }

    .recaptchatable #recaptcha_response_field {
        margin-bottom: 0px;
    }

    .dot {
        position: absolute;
        color: #21cb89;
        font-size: 17px;
        top: 8px;
        right: -10px;
        margin: 0px;
    }
}
